<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome to GuruStay! {{ user.username }}</h1>
        <p><a href="{% url 'dashboard' %}">view properties</a></p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <p>Login in <a href="{% url 'login' %}">Here</a></p>
    {% endif %}
</body>
</html>