.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #022e5c;
    padding: 10px;
}


.asset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.asset div {
    border: 1px solid black;
    width: 500px;
    margin: 2px;
    padding: 5px;
}

a {
    border: 1px solid black;
}
